.footer{
    background-color: rgb(220, 200, 174);
    text-align: center; 
    padding-bottom: 15px;
    
}

@media screen and (min-width: 0) and (max-width: 786px) {
    .footer {
        margin-top: 30%;
      }
}
