.header {
    background-image: url(../assets/img/flores-color-purpura-agua-blanca.jpg);
    background-position: $top;
    background-size: $cover;
    height: 15vh;

    .logo {
        height: 100px;
        width: 120px;
    }

    .listaNavegacion {
        list-style: none;
        text-align: right;
    }
}