.main{
    background-color: map-get($colores-importantes, color-body);
    .contenedorImagen{
        justify-content: $center;
        margin-left: 30%;
    }
    .textoDeInicio{
            .floresDeBach{
            color:$color-rosa;
            }
    }
    }
    
    @media screen and (min-width:0) and (max-width: 786px){
        .divContenedorImagen{
            margin-right: 80%;
            padding-right: 70%;
        }
    }
    
  






