$tipografia-textos: 'Manrope', sans-serif;
$ancho: 50%;
$display-inline-block: inline-block;
$center: center;
$borde-principal: 1px solid black;
$color-rosa: rgb(250, 74, 177);
$color-claro: rgba(245, 36, 151, 0.575);
$color-texto-principal: black;
$font-size: 1.5rem;
$color-footer: rgb(220, 200, 174);
$borde-principal: 1px solid black;
$cover: cover;
$top: top;

$colores-importantes: (
    color-lila: rgb(169, 131, 204),
    color-violeta: rgb(171, 39, 233),
    color-footer: rgb(220, 200, 174),
    color-body: rgb(237, 227, 214),
)