@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
* { /*Siempre esto para poder sacar toda su configuración y ponerla desde 0*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: url(../assets/img/flat-lay-natural-medicinal-herbs-bottles.jpg);
  background-position: top;
  background-size: 99.9% 100%;
  background-repeat: cover;
}
.header .listaNavegacion {
  list-style: none;
  text-align: right;
}
.header .tituloPrincipal {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: rgb(250, 74, 177);
}

body { /*Establecemos la fuente y el color del texto*/
  font-family: "Manrope", sans-serif;
  color: black;
  background-color: rgb(237, 227, 214);
}

.main {
  background-color: rgb(237, 227, 214);
}
.main .contenedorImagen {
  justify-content: center;
  margin-left: 30%;
}
.main .textoDeInicio .floresDeBach {
  color: rgb(250, 74, 177);
}

@media screen and (min-width: 0) and (max-width: 786px) {
  .divContenedorImagen {
    margin-right: 80%;
    padding-right: 70%;
  }
}
.main {
  background-color: rgb(237, 227, 214);
}
.main .contenedorImagenUno {
  margin-left: 20%;
}
.main .contenedorImagenDos {
  margin-left: 20%;
}
.main .textoNosotros {
  margin-right: 10%;
  margin-top: 10%;
  padding-top: 50px;
}
.main .textoNosotros .floresDeBach {
  color: rgb(250, 74, 177);
}
.main .textoNosotros .cantidad {
  color: rgb(171, 39, 233);
}
.main .contenedorImagenTres {
  margin-left: 20%;
}
.main .contenedorImagenCuatro {
  margin-left: 20%;
}

@media screen and (min-width: 0) and (max-width: 786px) {
  .textoNosotros {
    margin-left: 15%;
  }
  .divContenedorImagenUno {
    margin-left: 1.5%;
  }
  .divContenedorImagenDos {
    margin-right: 1.5%;
  }
  .divContenedorImagenTres {
    margin-right: 1.5%;
  }
  .divContenedorImagenCuatro {
    margin-right: 1.5%;
  }
}
.main {
  background-color: rgb(237, 227, 214);
}
.main .contenedorCard {
  margin-top: 8%;
}
.main .contenedorCard .card-group {
  margin-top: 3%;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-bottom: 3%;
}
.main .col {
  margin-top: 3%;
}
.main .contenedorTarjeta {
  margin-top: 7%;
}
.main .contenedorTarjeta2 {
  margin-top: 1%;
}
.main .contenedorEstrellas {
  display: flex;
  justify-content: center;
}

main .contenedorForm {
  padding-top: 2%;
}
main .divForm {
  padding-right: 10%;
  padding-left: 10%;
}
main .seleccionar .divSelect {
  padding-right: 20%;
  padding-left: 20%;
}
main .seccion .mapa {
  margin-left: 5%;
}
main .seccion .textoDeMapa {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .seccion .textoDeMapa .h2 .las {
  color: rgb(169, 131, 204);
}

.main .floresDeBach {
  color: rgb(250, 74, 177);
}
.main .card-group {
  margin-top: 3%;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-bottom: 3%;
}
.main .cita {
  color: rgba(247, 116, 116, 0.918);
}

.footer {
  background-color: rgb(220, 200, 174);
  text-align: center;
  padding-bottom: 15px;
}

@media screen and (min-width: 0) and (max-width: 786px) {
  .footer {
    margin-top: 30%;
  }
}/*# sourceMappingURL=bases.css.map */